<section>
  <h2>Employees</h2>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Admin Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.department }}</td>
        <th>
          <button [routerLink]="['/employee/view-employee', employee._id]">
            View
          </button>
          <button [routerLink]="['/employee/update-employee', employee._id]">
            Update
          </button>
          <button [routerLink]="['/employee/delete-employee', employee._id]">
            Delete
          </button>
        </th>
      </tr>
    </tbody>
  </table>

  <button [routerLink]="['/employee/create-employee']">Create Employee</button>
</section>
