<app-navbar></app-navbar>
<section>
  <h2>Employees</h2>

  <form id="search-form" #search="ngForm" (ngSubmit)="onSubmit(search)">
    <input
      type="text"
      name="search-input"
      id="search-input"
      placeholder="Department or Designation..."
      ngModel
    />

    <button>Search</button>
  </form>

  <br />

  <table class="table table-bordered">
    <thead>
      <tr class="table-primary">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Admin Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.department }}</td>
        <th>
          <button
            type="button"
            class="btn btn-info admin-btns"
            [routerLink]="['/employee/view-employee', employee._id]"
          >
            View
          </button>
          <button
            type="button"
            class="btn btn-warning admin-btns"
            [routerLink]="['/employee/update-employee', employee._id]"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-danger admin-btns"
            [routerLink]="['/employee/delete-employee', employee._id]"
          >
            Delete
          </button>
        </th>
      </tr>
    </tbody>
  </table>

  <button
    id="create-btn"
    type="button"
    class="btn btn-success"
    [routerLink]="['/employee/create-employee']"
  >
    Create Employee
  </button>
</section>
