<app-navbar></app-navbar>
<h2>Create Employee</h2>
<div>
  <p id="notice">Please fill out every field.</p>
  <form
    id="create-emp-form"
    #create_employee="ngForm"
    (ngSubmit)="onSubmit(create_employee)"
  >
    <div class="form-group">
      <label class="form-label" for="fName-input">First Name</label>
      <input
        class="form-control"
        type="text"
        name="fName-input"
        id="fName-input"
        ngModel
        required
      />

      <label class="form-label" for="lName-input">Last Name</label>
      <input
        class="form-control"
        type="text"
        name="lName-input"
        id="lName-input"
        ngModel
        required
      />

      <label class="form-label" for="email-input">Email</label>
      <input
        class="form-control"
        type="text"
        name="email-input"
        id="email-input"
        ngModel
        required
      />

      <label class="form-label" for="gender-input">Gender</label>
      <input
        class="form-control"
        type="text"
        name="gender-input"
        id="gender-input"
        ngModel
        required
      />

      <label class="form-label" for="designation-input">Designation</label>
      <input
        class="form-control"
        type="text"
        name="designation-input"
        id="designation-input"
        ngModel
        required
      />

      <label class="form-label" for="department-input">Department</label>
      <input
        class="form-control"
        type="text"
        name="department-input"
        id="department-input"
        ngModel
        required
      />

      <label class="form-label" for="salary-input">Salary</label>
      <input
        class="form-control"
        type="text"
        name="salary-input"
        id="salary-input"
        ngModel
        required
      />

      <label class="form-label" for="photo-input">Employee Photo</label>
      <input
        class="form-control"
        type="file"
        name="photo-input"
        id="photo-input"
        ngModel
        required
      />

      <label class="form-label" for="doj-input">Date of Joining</label>
      <input
        class="form-control"
        type="text"
        name="doj-input"
        id="doj-input"
        ngModel
        required
      />
    </div>

    <br />
    <div>
      <button class="btn btn-success">Create Employee</button>
    </div>
  </form>

  <div class="back">
    <button class="btn btn-secondary" [routerLink]="['/employee']">Back</button>
  </div>
</div>
