<h2>Register</h2>
<div>
  <p id="notice">Please fill out every field.</p>
  <form id="register-form" #register="ngForm" (ngSubmit)="onSubmit(register)">
    <div class="form-group">
      <label class="form-label" for="email-input">Email</label>
      <input
        type="text"
        class="form-control"
        name="email-input"
        id="email-input"
        required
        ngModel
      />
    </div>

    <div>
      <label class="form-label" for="username-input">Username</label>
      <input
        type="text"
        class="form-control"
        name="username-input"
        id="username-input"
        required
        ngModel
      />
    </div>

    <div>
      <label class="form-label" for="password-input">Password</label>
      <input
        type="password"
        name="password-input"
        class="form-control"
        required
        id="password-input"
        ngModel
      />
    </div>

    <br />
    <div>
      <button class="btn btn-success">Register</button>
    </div>
  </form>

  <div id="login-note">
    <p>Already have an account?</p>
    <button
      id="register-nav-btn"
      class="btn btn-info"
      [routerLink]="['/login']"
    >
      Login
    </button>
  </div>
</div>
